{% extends 'oasis/base.html'%} 

{% block title %}My List{% endblock %}

{% block content %}

<table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <caption class="caption-top text-3xl text-blue-700 uppercase bg-gray-50 dark:bg-gray-400 dark:text-gray-800">
        WatchList
      </caption>
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr> 
        <th scope="col"  class="px-6 py-3 border border-slate-600 border-spacing-2">#</th>
        <th scope="col"  class="px-6 py-3 border border-slate-600 border-spacing-2">Image</th>
        <th scope="col"  class="px-6 py-3 border border-slate-600 border-spacing-2">Movie Title</th>
        <th scope="col"  class="px-6 py-3 border border-slate-600 border-spacing-2">Genre</th>
        <th scope="col"  class="px-6 py-3 border border-slate-600 border-spacing-2">Year</th>
      </tr>
    </thead>
    <tbody>
        {% for list_item in items%}
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
            <td class="px-6 py-4 border border-slate-700 border-spacing-2">{{forloop.counter}}</td>
            <td class="border border-slate-700 border-spacing-2"><img scope="row" class = "max-h-40 max-w-40 px-8 py-2" src="{{ list_item.name.image.url }}" class="rounded-xl object-fill"></td>
            <td scope="row"  class="border border-slate-700 border-spacing-2 px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">{{ list_item.name }}</td>
            <td class="px-6 py-4 border border-slate-700 border-spacing-2">{{ list_item.name.genre }}</td>
            <td class="px-6 py-4 border border-slate-700 border-spacing-2">{{ list_item.name.year }}</td>
        </tr>
        {%endfor%}
    </tbody>
</table>


{% endblock %}